<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Deposit</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/auctions/all" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Auctions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/auctions/all">All auctions</a>
                    <a class="dropdown-item" href="/auctions/ssd">Auctions for SSD</a>
                    <a class="dropdown-item" href="/auctions/power_supplies">Auctions for power supplies</a>
                    <a class="dropdown-item" href="/auctions/video_cards">Auctions for video cards</a>
                    <a class="dropdown-item" href="/auctions/hard_disks">Auctions for hard disks</a>
                    <a class="dropdown-item" href="/auctions/sound_cards">Auctions for sound cards</a>
                    <a class="dropdown-item" href="/auctions/corps">Auctions for corps</a>
                    <a class="dropdown-item" href="/auctions/motherboards">Auctions for motherboards</a>
                    <a class="dropdown-item" href="/auctions/ram">Auctions for RAM</a>
                    <a class="dropdown-item" href="/auctions/optical_drive">Auctions for optical drive</a>
                    <a class="dropdown-item" href="/auctions/processors">Auctions for processors</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/auctions/add/item">Create auction</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/places/">Places</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    My page
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="/my">My page</a>
                    <a class="dropdown-item" href="/my/won">My won auctions</a>
                    <a class="dropdown-item" href="/my/auctions">My all auctions</a>
                    <a class="dropdown-item" href="/deposit">Deposit</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="font-size: x-large; height: 400px; width: 300px; position: absolute; left: 0;
        right: 0; top: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%; overflow: auto;">
    <aside class="col-sm-4">
        <form method="POST" class="d-flex justify-content-center" th:action="@{/deposit}" th:object="${card}">
            <aside class="col-sm-6 col-md-12">
                <label for="ccNumber" style="width: max-content">Credit Card #:</label>
                <input type="text" th:field="*{ccNumber}"/>
                <span class="validationError"
                      style="color: red"
                      th:if="${#fields.hasErrors('ccNumber')}"
                      th:errors="*{ccNumber}">CC Num Error</span>
                <br/>
                <label for="ccExpiration">Expiration: </label>
                <input type="text" th:field="*{ccExpiration}"/>
                <span class="validationError"
                      style="color: red"
                      th:if="${#fields.hasErrors('ccExpiration')}"
                      th:errors="*{ccExpiration}">CC Expiration Error</span>
                <br/>
                <label for="ccCVV">CVV: </label>
                <input type="text" th:field="*{ccCVV}"/>
                <span class="validationError"
                      style="color: red"
                      th:if="${#fields.hasErrors('ccCVV')}"
                      th:errors="*{ccCVV}">CC CVV Error</span>
                <br/>
                <label for="amount">Amount: </label>
                <input type="text" name="amount" th:field="*{amount}"/>
                <span class="validationError"
                      style="color: red"
                      th:if="${#fields.hasErrors('amount')}"
                      th:errors="*{amount}">Amount Error</span>
                <br/>
                <input class="btn btn-primary" style="margin-top: 10px" type="submit" value="Confirm"/>
            </aside>
        </form>
    </aside>
</div>
</body>
</html>