<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>

<form method="POST" th:name="f" th:action="@{/authentication/reset}">
    <fieldset style="width:200px">
        <legend>Please enter your new password</legend>
        <label for="code">Code</label>
        <input type="text" id="code" name="code">
        <br>
        <label for="password">New password</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="passwordConfirm">Confirm password</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm">
        <div class="form-actions">
            <button type="submit" class="button">Set new password</button>
        </div>
    </fieldset>
</form>

</body>
</html>