<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>

<form method="POST" th:name="f" th:action="@{/authentication/forgot_password}">
    <fieldset style="width:200px">
        <legend>Please enter your email</legend>
        <div th:if="${param.error}" class="alert alert-error" > Invalid email</div>
        <label for="username">Email</label>
        <input type="text" id="username" name="username">
        <div class="form-actions">
            <button type="submit" class="button">Send code</button>
        </div>
    </fieldset>
</form>

</body>
</html>