<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

    <title th:text="#{login}"></title>
</head>
<body th:style="'background: url(/images/signin.jpg) no-repeat; background-size: 100%;'">

<div>
    <a href="?lang=en"><img style="width: 30px; margin-left: 10px; margin-top: 10px;" th:src="@{/images/uk.png}"></a>
</div>
<div>
    <a href="?lang=ru"><img style="width: 30px; margin-left: 10px; margin-right: 20px"
                            th:src="@{/images/russia.png}"></a>
</div>

<div class="container">


    <form style="position: absolute; left: 50%; top: 50%; width: 40%; height: 65%; transform: translate(-50%, -50%);
    padding: 10px; background: white; border-radius: 25px"
          class="d-flex justify-content-center" method="POST" th:name="f"
          th:action="@{/signin}">
        <aside class="col-sm-12" style="padding-right: 30px; padding-left: 30px; padding-top: 10px">
            <div style="font-size: 39px; width: 100%; text-align: center; padding-bottom: 53px"
                 th:text="#{login}"></div>

            <div class="col-xs-4">
                <div th:if="${param.error}" style="text-align: center; width: 100%; color: red;"
                     class="alert alert-error" th:text="#{authentication.fail}"></div>
                <div th:if="${param.logout}" class="alert alert-success" th:text="#{logout.alert}"></div>
                <label for="username" class="form-label" th:text="#{email}"></label>
                <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text" th:text="#{email.tip}"></div>

            </div>
            <div class="col-xs-4">

                <label for="password" class="form-label" th:text="#{password}"></label>
                <a href="/authentication/forgot_password" th:text="#{password.forgot}"></a>
                <input type="password" class="form-control" id="password" name="password">

            </div>

            <div class="form-actions">
                <button style="margin-top: 10px; width: 100%" type="submit" class="btn btn-primary"
                        th:text="#{login}"></button>
            </div>

            <a style="" href="signup" th:text="#{registration}"></a>
        </aside>
    </form>
</div>

</body>
</html>