<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form method="POST" th:object="${user}" th:action="@{/signup}">
    <label for="firstName">First name: </label>
    <input type="text" th:field="*{name}" id="firstName"/>
    <br/>
    <label for="lastName">Last name: </label>
    <input type="text" th:field="*{surname}" id="lastName"/>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password: </label>
    <input type='password' th:field="*{password}" id="password"/>
    <br/>
    <label for="phone">Phone: </label>
    <input type='text' th:field="*{phone}" id="phone"/>
    <br/>
<!--    <label for="payment">Payment: </label>-->
<!--    <input type='text' th:field="*{payment.name}" id="payment"/>-->
<!--    <br/>-->

    <input type="submit" value="Sing up"/>
</form>

</body>
</html>