<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/auctions/all" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Auctions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/auctions/all">All auctions</a>
                    <a class="dropdown-item" href="/auctions/cars">Auctions for cars</a>
                    <a class="dropdown-item" href="/auctions/houses">Auctions for houses</a>
                    <a class="dropdown-item" href="/auctions/animals">Auctions for animals</a>
                    <a class="dropdown-item" href="/auctions/furniture">Auctions for furniture</a>
                    <a class="dropdown-item" href="/auctions/materials">Auctions for materials</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/auctions/add/item">Create auction</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/places/">Places</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My page
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="/my">My page</a>
                    <a class="dropdown-item" href="/my/won">My won auctions</a>
                    <a class="dropdown-item" href="/my/auctions">My all auctions</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div id="content">
    <h3><span style="color:#337ab7">Attention!</span><br>
        Since July 1, 2019, a multichannel call center has been operating at <span style="color:#337ab7">193</span></h3>

    <table class="table-striped" style="width:100%">
        <tbody>
        <tr>
            <td><strong>Minsk</strong></td>
            <td>&nbsp;avenue Pobediteley, 7, office 1120<br>
                &nbsp;<strong>Call-center:</strong> 209-48-24<br>
                &nbsp;additional: 226-66-27, 203-40-16, fax 203-07-78<br>
                &nbsp;technical support phone: 203-40-65<br>
                &nbsp;e-mail: tenders@icetrade.by</td>
        </tr>
        <tr>
            <td><strong>Brest</strong></td>
            <td>&nbsp;str.Vorovskogo, 19<br>
                &nbsp;phone (0162) 25-14-05, 25-14-09. Fax: 52-75-05<br>
                e-mail: ncm_brest@icetrade.by</td>
        </tr>
        <tr>
            <td><strong>Vitebsk</strong></td>
            <td>&nbsp;Gogolja street, 14, offices 814, 816<br>
                &nbsp;phone (0212) 36-90-74, 36-90-75, 36-90-78. Fax: 36-90-71, 36-90-74<br>
                e-mail: ncm_vitebsk@icetrade.by</td>
        </tr>
        <tr>
            <td><strong>Gomel</strong></td>
            <td>&nbsp;Kresnoarmeiskaja str., 2a, office 43<br>
                &nbsp;phone (0232) 32-65-65, 32-88-21. Fax: 32-33-45<br>
                e-mail: ncm_gomel@icetrade.by</td>
        </tr>
        <tr>
            <td><strong>Grodno</strong></td>
            <td>&nbsp;street Gorkava, 1<br>
                &nbsp;phone (0152) 55-93-91, 55-93-92, 55-93-94, 55-93-95<br>
                e-mail: ncm_grodno@icetrade.by</td>
        </tr>
        <tr>
            <td><strong>Mogilev</strong></td>
            <td>&nbsp;Lenina street, 63, offices 109, 110<br>
                &nbsp;phone (0222) 71-26-03, 71-23-40, 71-21-30. Fax: 32-26-86<br>
                e-mail: ncm_mogilev@icetrade.by</td>
        </tr>
        </tbody>
    </table>

    <p>&nbsp;</p>

    <p><strong>Working hours RUE "NATIONAL CENTER FOR MARKETING AND PRICE CONDITION": </strong> <br>
        Monday-Thursday from 9:00 to 18:00, Friday from 9:00 to 16:45. Break from 13:00 to 13:45.<br>
        <br>
        <strong>Technical support working hours:</strong><br>
        Monday-Thursday from 9:00 to 18:00, Friday from 9:00 to 16:45. Break from 13:00 to 13:45.<br>
        Phone: 203-40-65<br>
        Monday-Thursday from 9:00 to 18:00, Friday from 9:00 to 16:45. Break from 13:00 to 13:45.</p>

    <p><strong>Working hours of the Certification Center:</strong><br>
        Monday-Thursday from 9:00 to 17:00, Friday from 9:00 to 16:00. Break from 13:00 to 14:00.<br>
        To contact the Certification Center (including after hours), you can use the feedback form in the "Contacts" section</p>
</div>

</body>
</html>